.container {
  width: var(--container-width);
  background-color: var(--color-bg-secondary);
  border: none;
  border-radius: var(--border-radius-base);
  box-shadow: var(--box-shadow-base);
  box-sizing: border-box;
}